a {
  text-decoration: none;
}

table, th, td {
  border: 1px solid black;
}

td {
  padding: 5px;
  text-align: center;
}

table {
  margin: 0 auto;
  border: solid slategrey 1px;
  border-collapse: collapse;
}

img {
  width: 100%
}

.schedule_image {
	text-align: center;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.42857143;
  color: #333;
}

header {
  position: relative;
  /*top: 0;
  left: 0;*/
  z-index: 999;

  width: 100%;
  height: 50px;

  background: #eee;
  box-shadow: rgba(0, 0, 0, 0.5) 0 -20px 20px 20px;
}

header h1 {
  margin: 0;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  font-size: 18px;
  float: left;
}

.wrapper {
  /*margin-top: 50px;*/
  padding: 15px 30px;
  transition: all 0.3s ease-out;
  display: table;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.vertical_nav {
  width: 250px;
}

.vertical_nav__minify {
  width: 50px;
}

/* Small devices (tablets)
==========================*/
@media (min-width: 768px) {

}

/* Medium devices (desktops)
==========================*/
@media (min-width: 992px) {

  body {
    overflow-y: scroll;
  }

  .logo img {
    width: 250px;
    text-align: center;
    margin-top: 10px;
    float: none;
  }

  .wrapper {
    margin-left: 250px;
  }

  .wrapper__minify {
    margin-left: 50px;
  }

  .vertical_nav {
    width: 250px;
  }

  .vertical_nav__minify {
    width: 50px;
  }
}

.separator {
  border-top: 1px solid #909090;
}

.section {
  margin-left: 10px;
}

.menu--label.dep {
  padding-left: 70px;
  line-height: 15px;
  height: 20px;
  padding-top: 2px;
  color: #9b9b9b;
  font-size: 0.86em;
}

.menu--label {
  height: 30px;
  padding-bottom: 0;
}

.menu--label.section {
  font-size: 1.1em;
}

.menu--item.store {
  height: 50px;
}

.store > a {
  text-decoration: none;
}

.schedules {
  display: table-cell;
  width: 80%;
  vertical-align: middle;
  height: 90%;
}

.sideDivs {
  display: table-cell;
  width: 7%;
  vertical-align: middle;
  padding: 0 5px 0 5px;
  text-align: center;
}

.buttons {
  text-align: center;
  padding: 1px;
  cursor: pointer;
}

.buttons:hover {
  background: #ddd;
}

.buttons img {
  height: 50px;
  width: 50px;
}

#empty {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

#emptyTable {
  width: 100%;
}

#loginNeeded {
  text-align: center;
}

.noStores {
  margin-left: 50px;
}

#logout {
  float: right;
  text-decoration: none;
  color: #333;
}

#form {
  text-align: center;
}