<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <link href="/static/stylesheets/vertical-responsive-menu.min.css" rel="stylesheet">

    <link href="/static/stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
    <script src="/static/scripts/jquery.min.js"></script>
</head>

<body>

<header class="header clearfix">
    <button type="button" id="toggleMenu" class="toggle_menu">
        <i class="fa fa-bars"></i>
    </button>
    <h1>Shift EZ</h1>
</header>

<nav class="vertical_nav">

    <ul id="js-menu" class="menu">

        <li class="menu--item">
            <span class="menu--label section">Stores</span>
        </li>

        {% for store in stores %}
            <li class="menu--item store" id="{{ 'store' + loop.index0|string }}">

                <a href="/stores/{{ store.store_name }}/dep/{{ store.dep_name }}">
                    <label class="menu--link" title="{{ store.store_name }}">
                        <img class="menu--icon" src="/static/images/ic_action_business.png"/>
                        <span class="menu--label store">{{ store.store_name }}</span>
                        <span class="menu--label dep">{{ store.dep_name }}</span>
                    </label>
                </a>

            </li>
        {% endfor %}

        <li class="menu--item separator">

            <label class="menu--link" title="Add Store">
                <img class="menu--icon" src="/static/images/ic_action_add_box.png"/>
                <span class="menu--label">Add Store</span>
            </label>

        </li>

        <li class="menu--item separator">

            <label class="menu--link" title="Settings">
                <img class="menu--icon" src="/static/images/ic_action_add_box.png"/>
                <span class="menu--label">Settings</span>
            </label>

        </li>

    </ul>

    <button id="collapse_menu" class="collapse_menu">
        <i class="collapse_menu--icon"></i>
        <span class="collapse_menu--label">Collapse Menu</span>
    </button>

</nav>

<div class="wrapper">

    <span id="prevButton">Prev</span>

    <div class="schedules">

        {% for schedule in schedules %}
            <table class="schedule {{ 'schedule' + loop.index0|string }}"
                   id="{{ 'current' if (loop.index0 == 0) else '' }}">
                <tr>
                    <th>Store:</th>
                    <th>Department:</th>
                    <th>Year:</th>
                    <th>Week:</th>
                    <th>Uploader:</th>
                    <th>Date:</th>
                </tr>
                <tr>
                    <td>{{ schedule.store_name }}</td>
                    <td>{{ schedule.dep_name }}</td>
                    <td>{{ schedule.year }}</td>
                    <td>{{ schedule.week }}</td>
                    <td>{{ schedule.user_name }} ({{ schedule.upload_user_id }})</td>
                    <td>{{ schedule.upload_dateTime }}</td>
                </tr>
                <tr>
                    <td class="schedule_image" colspan="6"><img src="{{ schedule.image_url }}"></td>
                </tr>
            </table>
        {% endfor %}

    </div>

    <span id="nextButton">Next</span>

</div>
<script src="/static/scripts/vertical-responsive-menu.min.js"></script>
<script src="/static/scripts/store.js"></script>
</body>
</html>
{% endautoescape %}
